.play button {
  color:white;
  background-color:black;
  border:none;
  text-align:center;
  font-size:400%;
 width :240px;
 height:35px;
  border-radius:4px;
  

}
.play button:hover {
  background-color: #f95700db;
}

.buttontext {
  font-size:150%;
  color:white;
}

.playstorel {
  width:120px;
}

.appstorel {
  width:120px;
}


.endadd{
  color:white;
  font-size:100%;
}
.endquote {
  color:white;
  font-family:"century gothic";
  font-size:250%;
  font-weight:bold;
}

.symbol {
  width:20%;
  border-radius: 5%;
}

P{
  color:black;
 
font-size: 150%;
}

.bannertop{
  background: linear-gradient(to bottom,#f95700db,#ffffff);
  color: #fff;
  padding: 20%;

}

.bannerbottom{
  background: #141618;
  color: #fff;


}

.bannertop:before {

content : '';
position:absolute;
bottom:0;
left:0;
width:100%;
height:8%;
background:url('./assets/wave1.png');
background-size: cover;
background-repeat: no-repeat;

}

.play {
  padding-left:10%;
}

.promo-title{
  font-size: 190%;
  font-weight: 300%;
  
  
  font-family:"century gothic";
  color:black;
 
 
  font-style: bold;
  
}


.add {
  width:100%;
  color:black;
 
  font-weight: 200%;
  font-style: oblique;
  font-size: 175%;
}









.title{
  color:black;
  text-align: center;
  margin:43%;
 

 } 

 .title{
 content:'';
 margin-left:auto;
 margin-right:auto;
 display:block;

 text-decoration: underline solid #ff9e16;
 font-size: 300%;
 }

h5{
 color: black;
 font-size: 300%;
 text-align: center;
 margin:auto;

 display:block;
 
}

.subhead{
   
  margin-top: 30%;
  margin-left: 1%;
  margin-right:1%;
  text-transform: uppercase;
  font-size: 150%;
  text-align: center;
  
  margin-left: auto;
margin-right: auto;
display: block;
font-style: normal;

}



.homepage {
  margin:10%;
}

.whatwedo {
width:60%;
margin-left: auto;
margin-right: auto;
display: block;
}

.Phone {
  width:300%;
  height:auto;
  padding-right:4vw;
  padding-left:1vw;
  padding-top:0%;
  
}

.Hidden {
  visibility: hidden;
}

.Appimage{
    margin-top:10%;
    margin-left: 30%;
    width:50%;
    margin-bottom: 0;
       
        
}




ul li{
  margin:7% 0;
 

}
.list {
  font-size:120%;
  
  
}






.descwedo {
  font-size: 100%;
  text-align: center;

}

.logo {
  width: 17vw;
}

h5 {
  color: black;
  font-size: 2.5vw;
}


.Mediaimg {
  width:22%;
  padding-right:10%;
}





@media screen and (max-width:700px) {

  .playstorel {
    width:45%;

  }

  .appstorel {
    width:44%;
  }
  

  .buttontext {
    font-size:50%;
  }


  .Appimage{
    margin-top:20%;
    margin-left: 30%;
    height:66vw;
    width:auto;
    margin-bottom: 0;
    
    
  }


.title {
  font-size:200%;
}

.symbol {
  width:30%;
}

.endadd {
  color:white;
  font-size:70%;
}

.endquote {
  font-size:130%;
}

  h1 {
    font-size: 200%;
  }
  
  
  .Mediaimg {
    width:30%;
  }
  
    .descwedo {
    font-size: 120%;
  }
 
 
  .list{
    font-size: 2.4vw;
   
  }

  .add{
    font-size:70%;
  }
  .Phone{
  padding-right:40%;
  padding-left:1vw;
  }
  


    .Phone {
      width:40%;
      align-self: center;
      padding-left: 5% ;
      padding-right: 5% ;
    }

    .whatwedo {
      width: 40%;
    }

    
 
    .promo-title{
      font-size:100%;
    }
  


}







@media screen and (max-width:1200px) {
  .Phone{
    width:70%;
  }

  

  .contact  {

    font-size: 150%;
  }
}
@media screen and (min-width:700px) {


  .add{
    font-size:110%;
  
  }

  .buttontext {
  font-size:100%; }


  

  .Phone {
    width:90%;
    padding-left:30%;
  }

 
  
 

}

@media (max-width:800px) and (min-width:640px){
  .appstorel {
    width:80px;
  }

  .playstorel {
    width:80px;
  }

  .play button {
    width:160px;
  }
}

@media screen and (max-width:649px) {
  .appstorel {
    width:40px; }
  
  .playstorel {
    width:40px;
  }

  .play button {
    width:80px;
    height:18px;
  }
}


@media screen and (min-width:1000px) {

.promo-title {
  padding-bottom:10% ;
}

.add {
  font-size:140% ;
}




}


@media (max-width:690px) and (min-width:501px) {
  .add {
    font-size:100%;
  }

  .promo-title {
    padding-bottom : 20%;
  }

  
}

@media (max-width:1299px) and (min-width:1199px) {
.add {
  font-size:170%;
}
.promo-title{
  padding-bottom:25%;
  font-size:300%;
}
}


@media screen and (min-width:1300px) {


  .bannertop:before{
    height:6%;
  }
  
  .Endthing {
    width:100%;
    font-size: 1.5vw;
  }

  .Phone {
    width:140%;
    padding-left:30%;
  }

  .Appimage {
    width:90%;
  }

 .add {
   font-size:175%;
 }

 .promo-title {
   font-size:450%;
 }

.descwedo {
  font-size: 140%;
  
}

.list{
  font-size: 180%;
 
}

.Phone {
  width:150%;
}

.Endthing {
  font-size:130%;
}
.logo{
  width:45%;
}
}
