.EduMates{
  font-size:400%;
  color:white;
}
.endadd{
  color:white;
  font-size:100%;
}
.endquote {
  color:white;
  font-family:"helvetica neue";
  font-size:200%;
  font-weight:bold;
}

.symbol {
  width:20%;
  border-radius: 5%;
}

P{
  color:black;
 
font-size: 150%;
}

.bannertop{
  background: linear-gradient(to bottom,#f95700ff,#ffcf76);
  color: #fff;
  padding: 20%;

}

.bannerbottom{
  background: #141618;
  color: #fff;


}

.bannertop:before {

content : '';
position:absolute;
bottom:0;
left:0;
width:100%;
height:8%;
background:url('./assets/wave1.png');
background-size: cover;
background-repeat: no-repeat;


}


.Media{
  background-color: whitesmoke;
  
}

.play {
  padding-left:10%;
}

.promo-title{
  font-size: 190%;
  font-weight: 300%;
  
  color:white;
  
 
 
  font-style: bold;
  
}


.add {
  width:100%;
  color:black;
 
  font-weight: 200%;
  font-style: oblique;
  font-size: 175%;
}





.whatwedo {
  background-color: whitesmoke;
}




.title{
  color:black;
  text-align: center;
  margin:43%;
 
 
 

 }

 

 .title{
 content:'';
 margin-left:auto;
 margin-right:auto;
 display:block;

 text-decoration: underline solid #ff9e16;
 font-size: 300%;
 }

h5{
 color: black;
 font-size: 300%;
 text-align: center;
 margin:auto;

 display:block;
 
}

h4{
  margin-top: 30%;
  margin-left: 1%;
  margin-right:1%;
  text-transform: uppercase;
  font-size: 200%;
  text-align: center;
  
  margin-left: auto;
margin-right: auto;
display: block;
font-style: normal;

}



.homepage {
  margin:10%;
}

.whatwedo {
width:14vw;
margin-left: auto;
margin-right: auto;
display: block;
}

.Phone {
  width:300%;
  height:auto;
  padding-right:4vw;
  padding-left:1vw;
  padding-top:0%;
  
}

.Hidden {
  visibility: hidden;
}

.Appimage{
    margin-top:10%;
    margin-left: 30%;
    width:70%;
    margin-bottom: 0;
    
    
    
    
}

.playstore{
  width: 40% ;
  margin-left: 59%;
}

.appstore {
  width:35%;
  margin-left : 62%;
}



 .social-icons :hover img{
   transform: translateY(-20%);
}

.social-icons {
  background-color: whitesmoke;
  
  
}

ul li{
  margin:7% 0;
 

}
.list {
  font-size:1.75vw;
  
  
}

.Endthing {
  width:100%;
  font-size: 2.5vw;
}

.Userimage{
  width:8vw;
}



.descwedo {
  font-size: 1.5vw;
  text-align: center;

}

.logo {
  width: 17vw;
}

h5 {
  color: black;
  font-size: 2.5vw;
}
.Testimonial {
  font-size: 2.5vw;
}

.Mediaimg {
  width:25%;
  padding-right:10%;
}


.honescreenuserimg{
  height:5%;
}

.Button {
  font-size : 2vw;
}




@media screen and (max-width:700px) {


  .Appimage{
    margin-top:20%;
    margin-left: 30%;
    height:66vw;
    width:auto;
    margin-bottom: 0;
    
    
    
    
}
.EduMates {
  font-size:200%;
}


.title {
  font-size:200%;
}

.symbol {
  width:30%;
}

.endadd {
  color:white;
  font-size:70%;
}

.endquote {
  font-size:100%;
}

  h1 {
    font-size: 200%;
  }
  
  
  .Mediaimg {
    width:30%;
  }
  
    .descwedo {
    font-size: 100%;
  }
 
 
  .list{
    font-size: 2.4vw;
   
  }

  .add{
    font-size:70%;
  }
  .Phone{
  padding-right:12vw;
  padding-left:1vw;
  }
  


    .Phone {
      width:65%;
      align-self: center;
      padding-left: 5% ;
      padding-right: 5% ;
    }

    .whatwedo {
      width: 40%;
    }

    .SMtitle{
      font-size:130%;
    }
 
    .promo-title{
      font-size:100%;
    }
  


}







@media screen and (max-width:1200px) {
  .Phone{
    width:85%;
  }

  .contact  {
    font-size: 150%;
  }
}
@media screen and (min-width:700px) {


  .add{
    font-size:110%;
  
  }


  .Testimonial {
    font-size: 1.5vw;

  }
  
  .Endthing {
    width:100%;
    font-size: 1.5vw;
  }

  .Testiomonialmobile{
    display:none;
  }

  .Phone {
    width:130%;
    padding-left:30%;
  }

 
  
 

}


@media screen and (min-width:100px) {

.promo-title {
  padding-bottom:10% ;
}

.add {
  font-size:140% ;
}
}

@media (max-width:1299px) and (min-width:1199px) {
.add {
  font-size:170%;
}
.promo-title{
  padding-bottom:15%;
}
}










@media screen and (min-width:1300px) {

  .Testimonial {
    font-size: 1.5vw;

  }

  .bannertop:before{
    height:6%;
  }
  
  .Endthing {
    width:100%;
    font-size: 1.5vw;
  }

  .Testiomonialmobile{
    display:none;
  }

  .Phone {
    width:190%;
    padding-left:30%;
  }

  .Appimage {
    width:90%;
  }

 .add {
   font-size:175%;
 }

 .promo-title {
   font-size:450%;
 }

 .Button {
  font-size: 200%;
}

.descwedo {
  font-size: 1vw;
  
}

.list{
  font-size: 180%;
 
}

.Phone {
  width:150%;
}

.Endthing {
  font-size:130%;
}
.logo{
  width:45%;
}
}