
.Postbg {
	background-color: white;
	
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0px 5px 15px 0px #888888;
	background-color: white;
	
padding: 0%;
	
}
.Divbg {
	background-image: linear-gradient(to bottom, #FF8C00,white);
}


.postbottom{
	box-shadow: 0px 5px 15px 0px #888888;
	background-color: white;
		

	padding: 2%;
	
	border-radius: 0px 0px 20px 20px;
}

.Postbginfo {
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0px 5px 15px 0px #888888;
	background-color: white;
		

	
	}
	
	.Postbgpic {
		
		border-radius: 20px 20px 0px 0px;
		box-shadow: 0px 5px 15px 0px #888888;
		
		background-color: white;
		
	padding: 0%;
		
			
		}
	
	.Postimg {
		width:50%;
		padding-left: 2%;
		padding-right: 2%;
		padding-bottom: 2%;
		
	}
	
	.Posttext {
		font-size: 150%;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 1%;
	
	}
	
	.Postinfo {
		font-size: 125%;
		padding-right: 2%;
		padding-left: 2%;
		
	}
	
	.Postprofilepic {
		width:18%;
		padding: 1%;
	}
	
	
	
	.Hidden {
		visibility: hidden;
	  }

	  button {
		 
		  border:none;
	  }