.hidden {
    visibility: hidden;
}



.blackbg {
    background-color: black;
    padding:0%;
}

.cardHolder p{
    color: white;
     
}
ul {
    list-style: none;
}

ul li::before {
    content:"\2022" ;
    color:orange;
    display:inline-block;
    width:1em;
    margin-left:-0.9em;
   
}

li {
    margin:13px;
}





.button{
    font-size:18px;
}
.button button {

    position:relative;
    left:33%;
   
    background-color:#ff8c00;
    padding : 8px 24px;
    
color:white;
border: none;
}
.planname {
    font-size:26px;
  
    text-align: center;
}

.price {
    font-size : 38px;
    text-align: center;
}

.eachcard:hover {
    
        transform: translateY(-15%) scale(1.005) translateZ(0);
        box-shadow: 0 24px 36px rgba(0,0,0,0.11),
          0 24px 46px var(--box-shadow-color);

  }

.cardHolder {
    padding-top: 5%;
    padding-bottom: 10%;
  
 
}



.eachcard{
    padding-left: 2%;
   
    width:32.5%;

  
}

.Heading {
    text-align: center;
    padding-top:3%;
}

@media only screen and (max-width:800px){


.eachcard{
   
    padding-left:17%;
    width:80%;
    padding-bottom :16%;

  
}


.button button {

    position:relative;
    left:41%;

}
}


@media only screen and (max-width:400px){


    .button button {

        position:relative;
        left:23%;
    
    }
    }




 

