
.wrapper2{
  width: 100vw;
  height: 150vh;
  display:flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom,#ff8c00,#fffaf0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 overflow-x: scroll;
 
}

form{
  
  border:3px solid #f3f3f3;
  background-color:  white;
  padding:5%;
  border-radius: 25px;
  text-align: left;
  
}

input{
  outline: 0 !important;
  border-width: 0 0 1px !important;
  border-color: black !important;
}

.img {
  position: relative;
  height: 70px;
  width: 175px;
  margin: auto;
  
}
.btn{
  position: relative;
  width: 100%;
  height:30px;
  margin: 10px auto;
  border: 1px solid #e6e6e6;
  padding: 20px 50px;

}

.txt{
padding:10px 20px;
  text-align: center;
}
.log{
  
  color: blue;
}

.drop{
  border: none !important;
}